@import "./index.scss";

input {
  width: 50rem;
  height: 3rem;
  border-radius: 2rem;
  border: 0.2rem solid $neon-green-accent;
  padding: 1rem;
}

button {
  color: white;
  background-color: red;
}
